<template name="HomeLayout">
		{{> Header}}	
	<main>
		<div class="billboard">
		<h2>Organise Your Meals</h2>
		</div>
	</main>
	<br>
	
<div class="menu-item">
        <h3> Recipe Book manager </h3> 
        <p> <center><img border="0" height="200" hspace="0" src="/images/manage.jpg" width="300" /></center>
        <br>This is an application to organise your meals. In this application you can enter the recipe and materials required to make that recipe. Once you add a recipe to your menu you can see that materials are added to the shopping list.  </p>
    </div>
  <div class="footer">
  ...Mayank... <i class="fa fa-copyright"></i>
  </div>
</template>